<nav class="top-bar">
    <div class="row">
        <ul>
            <li class="name">
                <h1>
                    <%= link_to "Simple Code Review", "/" %>
                </h1>
            </li>
        </ul>
        <section>
            <% if logged_in? %>
            <ul class="left">
                <li class="divider"></li>
                    <li>
                        <%= link_to "new repository", "/repository/new" %>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <%= link_to "pending review", "/pending" %>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <%= link_to "my bad", "/mybad" %>
                        <%= my_bad_indicator %>
                    </li>
                <li class="divider"></li>
            </ul>
            <% end %>
            <ul class="right">
                <li class="divider"></li>
                <% if logged_in? %>
                <li class="has-dropdown menu-user">
                    <a href="#">
                        <%= image_tag current_user.avatar_url, :alt => current_user.name, :width => 32, :height => 32, :class => "avatar" %>
                        <%= current_user.username %>
                    </a>
                    <ul class="dropdown">
                        <li>
                            <%= link_to "Profile", "/me" %>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <%= link_to "Logout", "/logout" %>
                        </li>
                    </ul>
                </li>
                <% else %>
                    <li>
                        <%= link_to "Log in", "/auth/github" %>
                    </li>
                <% end %>
                <li class="divider"></li>
            </ul>
        </section>
    </div>
</nav>
