<div class="row">
    <div class="two columns">
        <% if @prev_commit %><a href="<%= url commit_url(@prev_commit) %>">&laquo;</a><% end %>
    </div>
    <div class="eight columns">
        <h3><%= @commit.message.force_encoding("UTF-8") %></h3>
    </div>
    <div class="two columns">
        <% if @next_commit %><a href="<%= url commit_url(@next_commit) %>">&raquo;</a><% end %>
    </div>
</div>
<div class="row">

    <div class="columns twelve">
        <% @commit.diffs.each do |diff| %>
        <h5><%= diff.a_path %></h5>
        <hr>
        <div class="panel radius">
            <% if diff.a_path.match(/(\.jpg|\.png|\.gif)$/) %>
                <%= image_tag "/img/file.png" %>
            <% else %>
                <%= CodeRay.scan(diff.diff.force_encoding("UTF-8"), :diff).html(wrap: :div, line_numbers: :inline) %>
            <% end %>
        </div>
        <% end %>

        <a name="reviews"></a>
        <% unless @commit.reviews.positive.empty? %>
        <table class="reviews positive-reviews">
            <tbody>
                <tr>
                    <td class="rate positive">+1</td>
                    <td class="reviewers">
                        <ul>
                        <% @commit.reviews.positive.each do |review| %>
                            <li class="author">
                                <%= image_tag review.user.avatar_url, :alt => review.user.name, :width => 48, :height => 48, :class => "avatar" %>
                                <p><%= review.user.first_name %></p>
                            </li>
                        <% end %>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <% end %>

        <% unless @commit.reviews.negative.empty? %>
        <table class="reviews negative-reviews">
            <tbody>
                <tr>
                    <td class="rate negative">-1</td>
                    <td class="reviewers">
                        <ul>
                        <% @commit.reviews.negative.each do |review| %>
                            <li class="author">
                                <%= image_tag review.user.avatar_url, :alt => review.user.name, :width => 48, :height => 48, :class => "avatar" %>
                                
                                <p><%= review.user.first_name %></p>
                            </li>
                        <% end %>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <% end %>

        <% if logged_in? %>
           <form action="<%= url "#{commit_url(@commit)}/review" %>" method="post" class="frm-rate">
                <button type="submit" name="type" value="positive" class="button large success radius">+1</button>
                <button type="submit" name="type" value="negative" class="button large alert radius">-1</button>
            </form>
            <hr>
        <% end %>

        <ul class="reviews">
        <% @commit.reviews.neutral.each do |review| %>
            <% if review.message && !review.message.empty? %>
            <li class="panel radius clearfix">
                <div class="author">
                    <%= image_tag review.user.avatar_url, :alt => review.user.name, :width => 64, :height => 64, :class => "avatar" %>
                    <p><%= review.user.first_name %></p>
                </div>
                <div class="comment">
                    <span><%= review.message %></span>
                </div>
            </li>
            <% end %>
        <% end %>
        </ul>

        <% if logged_in? %>
            <hr>
            <%= erb :_form_errors %>
             <form action="<%= url "#{commit_url(@commit)}/review" %>" method="post" class="frm-comment clearfix">
                <textarea name="message" class="six" placeholder="Leave a comment!"></textarea>
                <button type="submit" name="type" value="neutral" class="button">comment</button>
            </form>
            <hr>
            <% unless @commit.user_responsible %>
                <form action="<%= url "#{commit_url(@commit)}/fix" %>" method="post">
                    <button type="submit" class="button large success radius">Mark as fixed</button>
                </form>
            <% end %>
        <% end %>
    </div>
</div>
