<% if @repositories.length > 0 %>
    <section id="repositories">
        <div class="row">
            <% @repositories.each_with_index do |repo, index| %>
                <div class="twelve columns">
                    <div class="panel radius repository">
                        <% if logged_in? %>
                        <p class="actions">
                            <%= link_to "edit", "#{repository_url(repo)}/config", :class => "button radius tiny btn-edit secondary" %>
                            <%= link_to "view", repository_url(repo), :class => "button radius tiny btn-edit secondary" %>
                        </p>
                        <% end %>
                        <a href="<%= url repository_url(repo) %>">
                            <h5>
                                <%= repo.name %>
                                <p><%= repo.url %></p>
                            </h5>
                        </a>
                    </div>
                </div>
            <% end %>
        </div>
    </section>
<% end %>